<!DOCTYPE HTML>
<!--
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
<title>U-Medication</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<link
	href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900'
	rel='stylesheet' type='text/css'>
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/skel-panels.min.js"></script>
<script src="js/init.js"></script>
<noscript>
	<link rel="stylesheet" href="css/skel-noscript.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/style-desktop.css" />
</noscript>
</head>
<body class="homepage">

	<!-- Header -->
	<div id="header" class="for-page">
		<div id="nav-wrapper">
			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="index.html">Accueil</a></li>
					<li class="active"><a href="product.html">Produits</a></li>
					<li><a href="pharmacy.html">Pharmacie</a></li>
					<li><a href="no-sidebar.html">Trouver un médicament</a></li>
					<li><a href="no-sidebar.html">Questions</a></li>
					<li class="pro"><a href="no-sidebar.html">Accès
							professionnel</a></li>
				</ul>
			</nav>
		</div>
		<div class="container">

			<!-- Logo -->
			<div id="logo">
				<h1>
					<a href="#">U-Medication</a>
				</h1>
				<span class="tag">Votre médicament en un clique !</span>
			</div>
		</div>
	</div>

	<!-- Main -->
	<div id="main">
		<div id="content" class="container">
			<header>
				<div class="input-group">
					<input type="text" class="form-control"
						placeholder="Chercher un produit...">
					<button class="btn btn-default" type="button">Chercher</button>
				</div>
			</header>

			<div class="row">
				<section class="6u">
					<a href="myproduct.html" class="image full"><img
						src="images/biafine.jpg" alt=""></a>
					<header>
						<h2>Biafine</h2>
					</header>
					<p>Emulsion pour application cutanee</p>
				</section>
				<section class="6u">
					<a href="myproduct.html" class="image full"><img
						src="images/drill.jpg" alt=""></a>
					<header>
						<h2>Drill</h2>
					</header>
					<p>In posuere eleifend odio.</p>
				</section>
				<section class="6u">
					<a href="myproduct.html" class="image full"><img
						src="images/actifed.jpg" alt=""></a>
					<header>
						<h2>Actifed</h2>
					</header>
					<p>In posuere eleifend odio. Quisque semper augue mattis wisi.
						Maecenas ligula.</p>
				</section>
				<section class="6u">
					<a href="myproduct.html" class="image full"><img
						src="images/rhinadvil.jpg" alt=""></a>
					<header>
						<h2>Rhinadvil</h2>
					</header>
					<p>In posuere eleifend odio. Quisque semper augue mattis wisi.</p>
				</section>
			</div>

			<div class="row">
				<section class="6u">
					<a href="#" class="image full"><img src="images/biafine.jpg"
						alt=""></a>
					<header>
						<h2>Mauris vulputate dolor</h2>
					</header>
					<p>In posuere eleifend odio. Quisque semper augue mattis wisi.</p>
				</section>
				<section class="6u">
					<a href="#" class="image full"><img src="images/drill.jpg"
						alt=""></a>
					<header>
						<h2>Mauris vulputate dolor</h2>
					</header>
					<p>In posuere eleifend odio. Quisque semper augue mattis wisi.
						Maecenas ligula.</p>
				</section>
				<section class="6u">
					<a href="#" class="image full"><img src="images/actifed.jpg"
						alt=""></a>
					<header>
						<h2>Mauris vulputate dolor</h2>
					</header>
					<p>In posuere eleifend odio. Quisque semper augue mattis wisi.</p>
				</section>
				<section class="6u">
					<a href="#" class="image full"><img src="images/rhinadvil.jpg"
						alt=""></a>
					<header>
						<h2>Mauris vulputate dolor</h2>
					</header>
					<p>In posuere eleifend odio. Quisque semper augue mattis wisi.
						Maecenas ligula.</p>
				</section>
			</div>
			<div class="row-pagination">
				<ul id="pagination">
					<li><a class="actuel">1</a></li>
					<li><a href="">2</a></li>
					<li><a href="">3</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Tweet -->
	<div id="tweet">
		<div class="container">
			<section>
				<blockquote>&ldquo;La maladie ne se guérit point en
					prononçant le nom du médicament, mais en prenant le
					médicament.&rdquo;</blockquote>
			</section>
		</div>
	</div>

	<!-- Footer -->
	<div id="footer">
		<div class="container">
			<section>
				<header>
					<h2>Tous vos maux méritent</h2>
					<span class="byline"><img src="images/urgo.png" /></span>
				</header>
				<ul class="contact">
					<li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="#" class="fa fa-youtube"><span>Youtube</span></a></li>
				</ul>
			</section>
		</div>
	</div>

	<!-- Copyright -->
	<div id="copyright">
		<div class="container">
			<ul class="link-contact">
				<li><a href="contact.html">Contact</a></li>
				<li><a href="http://www.urgo.fr/">Site Urgo</a></li>
				<li>Agence BCGC</li>
			</ul>
		</div>
	</div>
</body>
</html>